{% extends 'base.html' %}

{% block title %}Edit Tag{% endblock %}
{% block content %}
    <h1>Edit Tag</h1>
    {% for msg in get_flashed_messages() %}
    <p class="message alert alert-danger">{{ msg }}</p>
    {% endfor %}
    <form action="/tags/{{ tag.id }}/edit" method="POST">
        <div class="input-group mb-2"><label for="name">Name</label><input type="text" name="name" value="{{ tag.name }}"></div>
        <a class="btn btn-warning" href="/tags/{{ tag.id }}">Cancel</a>
        <button class="btn btn-info">Save</button>
    </form>
{% endblock %}